:root {
  --rumd-white: #ffffff;
  --rumd-black: #000000;

  --rumd-medium-purple: #7f56d9;
  --rumd-purple-heart: #6941c6;
  --rumd-purple-heart-2: #5925DC;
  --rumd-blue-chalk: #e9d7fe;

  --rumd-oxford-blue: #344054;
  --rumd-mischka: #D0D5DD;
  --rumd-athens-gray: #F9FAFB;
  --rumd-mirage: #1D2939;

  --rumd-fiord: #475467;
  --rumd-gigas: #53389E;


  --rumd-alizarin-crimson: #D92D20;
  --rumd-thunderbird: #B42318;
  --rumd-your-pink: #FECDCA;
  --rumd-provincial-pink: #FEF3F2;
  --rumd-cinderella: #FEE4E2;
  --rumd-sweet-pink: #FDA29B;

  --rumd-mountain-meadow: #12B76A;


  // badge için kullan
  --rumd-athens-gray: #F2F4F7;
  --rumd-magnolia: #F9F5FF;
  --rumd-vesuvius: #B54708;
  --rumd-early-dawn: #FFFAEB;
  --rumd-fun-green: #027A48;
  --rumd-foam: #ECFDF3;
  --rumd-rhino: #363F72;
  --rumd-white-lilac: #F8F9FC;
  --rumd-allports: #026AA2;
  --rumd-alice-blue: #F0F9FF;
  --rumd-denim: #175CD3;
  --rumd-alice-blue-2: #EFF8FF;
  --rumd-governor-bay: #3538CD;
  --rumd-zircon: #EEF4FF;
  --rumd-titan-white: #F4F3FF;
  --rumd-red-violet: #C11574;
  --rumd-carousel-pink: #FDF2FA;
  --rumd-shiraz: #C01048;
  --rumd-lavender-blush: #FFF1F3;
  --rumd-tia-maria: #C4320A;
  --rumd-seashell-peach : #FFF6ED;

  --rumd-ecstasy: #FB6514;
  --rumd-radical-red: #F63D68;
  --rumd-brilliant-rose: #EE46BC;
  --rumd-cornflower-blue: #7A5AF8;
  --rumd-cornflower-blue-2: #6172F3;
  --rumd-dodger-blue: #2E90FA;
  --rumd-cerulean: #0BA5EC;
  --rumd-san-marino: #4E5BA6;


  --rumd-salomie: #FEDF89;
  --rumd-magic-mint: #A6F4C5;


}
